Body {
    background-color: gray;
}

.container {
    background-image: url(/image/addisu.gif);
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;




}

#add {
    border-radius: 25px;
    border: 4px solid green;
    border-left-width: 20px;
    border-left: 10px solid red;
    border-top: 10px solid goldenrod;
    border-right: 10px solid magenta;
    border-bottom: 10px solid green;
}

#FirstName {
    border-radius: 10px;
    width: 25%;
    padding: 12px;
    border: 5px solid darkgray;

}

#LastName {
    border-radius: 10px;
    width: 25%;
    padding: 12px;
    border: 5px solid orangered;
}

#email {
    border-radius: 10px;
    width: 25%;
    padding: 12px;
    border: 5px solid blue;
}

#phonenumber {
    border-radius: 10px;
    width: 25%;
    padding: 12px;
    border: 5px solid goldenrod;
}

#button {
    width: 90px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 10 20px 0 orangered;
}

#button:hover {
    background-color: goldenrod;
}